.header {
  margin-top: 50px;
  a {
        text-decoration: none;
        color: inherit;
  }
  h1 {
    font-weight: 800;
    font-size: 1.35rem;
    margin: 0;
  }
  h2 {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 0;
  }
}
img.logo {
  width: 75px !important;
  height: 75px;
}