@import 'helpers';
@import url('https://fonts.googleapis.com/css?family=Teko:700');
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #525252;
	font-family: Verdana, arial, sans-serif;
	font-weight: 400;
	color: #ddd;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Teko', sans-serif;
font-weight: 700;
}
a {
	color: #5d93ff;
}
a:visited {
	color: #D7B3FF;
}
* {
	box-sizing: border-box;
}

#app {
}
